{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>College Companion Chatbot</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'main/img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'main/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/rating1.css' %}" rel="stylesheet">
    <script src="{% static 'main/js/sweetalert.min.js' %}"></script>


    <style>
        body{margin-top:20px;
        color:#69707a;
        }
        .img-account-profile {
            height: 10rem;
        }
        .rounded-circle {
            border-radius: 50% !important;
        }
        .card {
            box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
        }
        .card .card-header {
            font-weight: 500;
        }
        .card-header:first-child {
            border-radius: 0.35rem 0.35rem 0 0;
        }
        .card-header {
            padding: 1rem 1.35rem;
            margin-bottom: 0;
            background-color: rgba(33, 40, 50, 0.03);
            border-bottom: 1px solid rgba(33, 40, 50, 0.125);
        }
        .form-control, .dataTable-input {
            display: block;
            width: 100%;
            padding: 0.875rem 1.125rem;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1;
            color: #69707a;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #c5ccd6;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.35rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        
        .nav-borders .nav-link.active {
            color: #0061f2;
            border-bottom-color: #0061f2;
        }
        .nav-borders .nav-link {
            color: #69707a;
            border-bottom-width: 0.125rem;
            border-bottom-style: solid;
            border-bottom-color: transparent;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0;
            padding-right: 0;
            margin-left: 1rem;
            margin-right: 1rem;
        }
          </style>
</head>
<body>

    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
            <div class="col-lg-6 px-5 text-start">
                <small><i class="fa fa-map-marker-alt text-primary me-2"></i>Lb Nagar</small>
            </div>
            <div class="col-lg-6 px-5 text-end">
                <small><i class="fa fa-envelope text-primary me-2"></i>projects@codebook.in</small>
                <small class="ms-4"><i class="fa fa-phone-alt text-primary me-2"></i>+91 8555887986</small>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
            <a href="{% url 'user-index' %}" class="navbar-brand ms-4 ms-lg-0">
                <h1 class="display-5 text-primary m-0">Galgobot</h1>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="{% url 'user-index' %}" class="nav-item nav-link ">Dahboard</a>
                    <a href="{% url 'galgobot' %}" class="nav-item nav-link">Galgobot</a>
                    <a href="{% url 'my-profile' %}" class="nav-item nav-link">MyProfile</a>
                    <a href="{% url 'user-feedback' %}" class="nav-item nav-link active">Feedback</a>
                    <a href="{% url 'main-index' %}" class="nav-item nav-link">Logout</a>

                </div>
                
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
    <br><br><br><br><br>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container" >
               
        <div class="table-responsive pt-3">
            
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th colspan="4">
                                    <center><h4 class="card-title" style="color: rgb(45, 62, 219);">Add Your Feedback</h4></center>
                                </th>
                            </tr>
                        </thead>

                            <tbody>
                            
                                <tr> 
                                    <td>
                                    
                                        1.How would you rate finding the Galgobot in our site?
                                        <fieldset class="star-rating">
                                        <div class="star-rating__stars"> 
                                            <input class="star-rating__input" type="radio" name="a" value="1" id="a-1" />
                                            <label class="star-rating__label" for="a-1" aria-label="One"></label>
                                            <input class="star-rating__input" type="radio" name="a" value="2" id="a-2" />
                                            <label class="star-rating__label" for="a-2" aria-label="Two"></label>
                                            <input class="star-rating__input" type="radio" name="a" value="3" id="a-3" />
                                            <label class="star-rating__label" for="a-3" aria-label="Three"></label>
                                            <input class="star-rating__input" type="radio" name="a" value="4" id="a-4" />
                                            <label class="star-rating__label" for="a-4" aria-label="Four"></label>
                                            <input class="star-rating__input" type="radio" name="a" value="5" id="a-5" />
                                            <label class="star-rating__label" for="a-5" aria-label="Five"></label>
                                            <div class="star-rating__focus"></div>
                                        </div>
                                        </fieldset>
                                
                                    </td>
                                    <td>
                                        3.How would you rate to recommend others?    
                                        <fieldset class="star-rating">
                                            <div class="star-rating__stars">
                                            <input class="star-rating__input" type="radio" name="b" value="1" id="b-1" />
                                            <label class="star-rating__label" for="b-1" aria-label="One"></label>
                                            <input class="star-rating__input" type="radio" name="b" value="2" id="b-2" />
                                            <label class="star-rating__label" for="b-2" aria-label="Two"></label>
                                            <input class="star-rating__input" type="radio" name="b" value="3" id="b-3" />
                                            <label class="star-rating__label" for="b-3" aria-label="Three"></label>
                                            <input class="star-rating__input" type="radio" name="b" value="4" id="b-4" />
                                            <label class="star-rating__label" for="b-4" aria-label="Four"></label>
                                            <input class="star-rating__input" type="radio" name="b" value="5" id="b-5" />
                                            <label class="star-rating__label" for="b-5" aria-label="Five"></label>
                                            <div class="star-rating__focus"></div>
                                            </div>
                                        </fieldset>
                                    </td>
                                </tr>
                                <tr>
                                    
                                    <td>
                                    2.It was easy to Clarify the queries in our site?                                
                                    <fieldset class="star-rating">
                                            <div class="star-rating__stars">
                                            <input class="star-rating__input" type="radio" name="c" value="1" id="c-1" />
                                            <label class="star-rating__label" for="c-1" aria-label="One"></label>
                                            <input class="star-rating__input" type="radio" name="c" value="2" id="c-2" />
                                            <label class="star-rating__label" for="c-2" aria-label="Two"></label>
                                            <input class="star-rating__input" type="radio" name="c" value="3" id="c-3" />
                                            <label class="star-rating__label" for="c-3" aria-label="Three"></label>
                                            <input class="star-rating__input" type="radio" name="c" value="4" id="c-4" />
                                            <label class="star-rating__label" for="c-4" aria-label="Four"></label>
                                            <input class="star-rating__input" type="radio" name="c" value="5" id="c-5" />
                                            <label class="star-rating__label" for="c-5" aria-label="Five"></label>
                                            <div class="star-rating__focus"></div>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td>
                                    
                                    </td>
                                    </tr>    
                                </tr>
                            </tbody>
                    </table>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea5">Overall Feedback</label>
                        <textarea name="overall" class="form-control" required id="exampleFormControlTextarea5" rows="3"></textarea>
                    </div>
            
        
            <br>
            <center><button type="submit" class="btn btn-main" style="background-color:rgb(12, 55, 116);color:aliceblue"> Submit</button></center>
 
            
            <br>
        </div>
</div>

</form>


{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>swal({
        title: "Success :)",
        text: "{{message}}",
        icon: "success",
        button: "OK",
    });
</script>

{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
<script>swal({
        title: "Warning :)",
        text: "{{message}}",
        icon: "warning",
        button: "OK",
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<script>swal({
        title: "Info :)",
        text: "{{message}}",
        icon: "info",
        button: "OK",
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<script>swal({
        title: "error :)",
        text: "{{message}}",
        icon: "error",
        button: "OK",
    });
</script>
{% endif %}
{% endfor %}
{% endif %}

<div class="container-fluid bg-dark text-light footer mt-5 mb-6  wow fadeIn" data-wow-delay="0.1s">
    <div class="container ">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <h4 class="text-white mb-4">Our Office</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Hyderabad</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 8555887986</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>projects@codebook.in</p>
               
            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="text-white mb-4">Services</h4>
                <a class="btn btn-link" href="">Admissions</a>
                <a class="btn btn-link" href="">Fee Payment</a>
                <a class="btn btn-link" href="">Courses</a>
                <a class="btn btn-link" href="">Departments</a>
                <a class="btn btn-link" href="">Faculties</a>
                <a class="btn btn-link" href="">Placements</a>
                <a class="btn btn-link" href="">Events</a>

            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="text-white mb-4">Quick Links</h4>
                <a class="btn btn-link" href="">About Us</a>
                <a class="btn btn-link" href="">Contact Us</a>
                <a class="btn btn-link" href="">Our Services</a>
                <a class="btn btn-link" href="">Terms & Condition</a>
                <a class="btn btn-link" href="">Support</a>
            </div>
           
        </div>
    </div>
</div>
 <!-- Footer End -->


    <!-- Copyright Start -->
    <div class="container-fluid copyright py-4">
        <div class="container">
            <div class="row">
                
                <div class="copyright" style="color:aliceblue">
                    &copy; Copyrights  by  <span class="text-color:white">Codebook.in</span>  | Designed and Developed by <a href="https://codebook.in/" style="color:rgb(12, 152, 216)" target="_blank">CODEBOOK</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'main/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'main/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'main/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'main/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main/lib/counterup/counterup.min.js' %}"></script>
    
    <!-- Template Javascript -->
    <script src="{% static 'main/js/main.js' %}"></script>
    </body>
    

</html>

